.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to right top, #390020, #43002e, #4a003f, #4e0052, #4b0069, #4a248b, #3c3fad, #0058ce, #0088f1, #00b3fd, #00dbfa, #27fff1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.olaMundo9{
  color: red;
}

.olaMundo10{
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
